* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
header{
    background-color: black;
    color: white;
    width: 100%;
    height: 60px;
    align-content: center;
    font-size: 35px;
    padding-left: 10px;
    padding-right: 50px;
}
i{
    color:white;
}
body{
    background-color: rgb(202, 202, 181);
    font-family: Georgia, "Times New Roman", Times, serif;
}

.principal{
    text-align: center;
    margin-top: 25px;
}

h1 {
    font-size: 35px;
    text-decoration: underline;
}

#productos, #seccion-carrito-productos{
    margin-top: 30px;
    gap: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

#seccion-carrito-botones{
    margin-top: 40px;
    align-items: center;
    text-align: center;
}
.boton-vaciar-comprar{
    margin: 30px;
    font-size: 20px;
    width: auto;
    height: 40px;
}

#seccion-carrito{
    h3{
        text-align: center;
        margin-top: 10px;
    }
}

.img-producto{
    width: 240px;
    height: 240px;
    align-items: center;
}


button{
    background-color: black;
    color:white;
    font-size: 18px;
    padding: 3px;
    margin-top: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.encabezado{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ver-productos{
    margin-top: 30px;
    text-align: center;
    a{
    text-decoration: none;
    background-color: black;
    color:white;
    border: 1px solid black;
    padding: 4px;
}
}

.boton-comprar{
        margin-top: 30px;
    text-align: center;
    align-items: center;
}

.beneficios{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}
.lista-beneficios{
    text-align: center;
    margin-top: 10px;
}

footer{
    margin-top: 25px;
    background-color: black;
    color:white;
    padding: 15px;
    li{
    list-style: none;
}
}